<div class="notif-list-container container card-body">
    <div>
       <div class="heading row">
          <div class="title col-sm-6">
             <p>{{data.notification_type}} Notifications ({{data.notication_count}})</p>
          </div>
          <div class="col-sm-5">
          </div>
          <div class="filters col-sm-1">
             <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
       </div>
       <div class="list">
          <span class="row list-heading">
          <span class="col-sm-8">NOTIFICATION</span>
          <span class="col-sm-2">DATE</span>
          <span class="col-sm-1"></span>
          </span>
          <div class="draw-list">
             <div class="record" id="record_{{record.notification_id}}" *ngFor="let record of data.notifications" (click)="highlightRecord(record.notification_id)">
             <notification-data [metadata]="record" (recordDetailsEvent)="showDetail($event)"></notification-data>
             <span class="newLine"></span>
          </div>
       </div>
    </div>
 </div>
 </div>