.title{
    font-size:20px;
    font-weight:600;
}

.list-heading{
    color:#6a788b;
    font-size:12PX
}

.highlight-record{
    background-color:#31586d
}

.record{
    cursor:pointer;
    padding-top: 2%;
}

.newLine{
    background-color: #3d485a;
    height: 1.09px;
    display: block;
}

.notif-list-container{
    padding-top: 3%;
    padding-bottom: 6%;
    padding-right: 2%; 
    border-radius: 6px;
    padding-left: 4%;
    height: 100%;
    background-color:#2d3944;
    color:#d3d6d8;
}
/*
 *  STYLE 2
 */

 /* #style-2::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #D62929;
 } */
 