<div class="container" style="width: 100%;margin-top: 1%;" *ngIf="tableData">
    <label style="cursor:pointer;color:#3883a4;font-weight: 600;font-size: 12px;    margin-left: 1%;" (click)="navigateToDashboard()">
      <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Dashboard</label>
      <br>
    <label style=" margin-left: 1%;"><h1 style="font-size: 29px;"> Orders Search </h1></label>
    <app-kpmg-grid 
    [data]="tableData" 
    [search]="true"
    [expand]="true">
  </app-kpmg-grid>
</div>
