
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 @font-face{
   font-family: "open-sans-regular";
   src: url('../fonts/open-sans/OpenSans-Light.ttf');
 }
 @font-face{
   font-family: "open-sans-semi-bold";
   src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
 }
 @font-face{
   font-family: "open-sans-light";
   src: url('../fonts/open-sans/OpenSans-Light.ttf');
 }
 html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
 body{
    font-family: "Lato", Helvetica, Arial, serif;
    font-size: 0.875rem;
    font-weight: normal;  
    line-height: 1.5;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(29, 42, 51, 1.0);
 }
 h1 { 
   margin-bottom: 20px;
   padding-bottom: 9px;
   /* border-bottom: 1px solid #eee; */
 }
 h5{
   margin: 20px 0 0px;
 }
 a:hover{
   cursor: pointer;
 }
 p{
  margin-top: 0;
  margin-bottom: 0.2rem;
 }

   .placeholders {
   padding-bottom: 3rem;
   }
   
   .placeholder img {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   }
  
   
   .navbar-brand {
   height: 50px;
   margin: 0;
   padding: 0;
   }
   
   .navbar-nav>li {
   padding: 4px 0 0;
   }
   
   .navbar-nav>li>a {
   padding: 0px 16px;
   vertical-align: middle;
   color: #fff;
   font-family: "open-sans-regular";
   }
   
   .navbar-nav>li>a:hover,
   .navbar-nav>li>a:focus {
   color: #fff;
   font-family: "open-sans-regular";
   cursor: pointer;
   }
   
   .navbar-nav>li>a.icons:hover,
   .navbar-nav>li>a.icons:focus {
   color: #fff;
   cursor: pointer;
   font-family: "open-sans-regular";
   }
   
   .navbar-nav>li>a>.fa {
   font-size: 16px;
   /* color: white; */
   }
 
 
  /* Placeholders */
 .placeholders {
   padding-bottom: 3rem;
 }
 
 .placeholder img {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
 }
 
 .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: .7rem;
  background-color: transparent;
}
.table th{
  text-align: center;
  /* background-color: #336E7B; */
  color: #fff;
  padding: .5rem;
}
.table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #cfd8dc;
  text-align: center;
}
.table td.red{
  color:#f00;
}
.table td.green{
  color: #60cf15;
}
 

 .navbar-brand{
  background-color: #49c5f3;
  display: inline-block;
  width: 115px;
  height: 50px;


 }
 .navbar-brand img{
  height: 30px;
 }
 .navbar-nav{
   padding: 0;
   right: 0px;
  position: absolute;
  top: 0px;
 }
 .navbar-nav > li {
    /* width: 60px; */
    padding: 11px 0;
    margin-top: 0px;
 }
 .navbar-nav > li.active{
   
  background-color: rgba(255,255,255, 0.2);
  border-bottom: 2px solid #fff;
 }
 /* .navbar-nav > li:last-child {
  padding: 0 0;
  width: 85px;
} */
 .navbar-nav > li> a {
   padding: 0px 10px;
   vertical-align: middle;
   color: #fff;
   font-family: "open-sans-regular";
 }
 .navbar-nav > li> a.icons {
   color: #fff;
   font-family: "open-sans-regular";
 }
 .navbar-nav > li> a:hover, .navbar-nav> li>a:focus{
   color: #fff;
   font-family: "open-sans-regular";
   cursor: pointer;
   outline: 0;
   text-decoration: none;
 }
 .navbar-nav > li> a.icons:hover, .navbar-nav> li>a.icons:focus{
   color: #fff;
   cursor: pointer;
   font-family: "open-sans-regular";
 }
 .navbar-nav > li> a > .fa {
   font-size: 21px;
 }
 .fixed-top{
    background-color:#49c5f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
 }
 #navbarSupportedContent h3 {
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin: -3px 0;
    line-height: 1.1;
    font-size: 1.75rem;
    text-align: center;

 }
 .header_logo{
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  padding: 0px 1rem;
  margin-top: 10px;
}
 #navbarSupportedContent h3 span{
   font-size: 21px;
 }
 #navbarDropdownMenuLink{
   color: #fff;
   font-family: "open-sans-regular";
 }
 #navbarDropdownMenuLink:hover, #navbarDropdownMenuLink:focus {
   color: #fff;
 }
 
 
 chart{        
     display: block;
 }
 .martop{
    margin-top: 10px; 
 }
 
 
 ul.action_list{ 
   display: block;
   width: 100%;
   margin-bottom: 0;
 }
 ul.action_list li{
   display: inline-block;
   padding: 1px 5px 3px;
   cursor: pointer; 
 }
 
 

.btn-primary, .btn-primary.disabled, .btn-primary:disabled{
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
  border-radius: 0;
}
.btn{
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: 0.4rem .8rem;
  font-size: 0.875rem;
  line-height: 1.25;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px rgba(32, 168, 216, 0.5);
}
.btn-primary:hover {
  color: #fff;
  background-color: #1985ac;
  border-color: #187fa3;
}

/* new css */
.form-control,.form-control:focus {
  background: rgba(36, 48, 59, 1.0);
  color:rgba(215, 215, 215, 1.0);
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}

input[type=checkbox]+label::before, input[type=radio]+.label::before{
  
  color: rgba(215, 215, 215, 1.0);
  content: "\A0";
  background-color: rgb(91, 109, 139);
  /* border: 1px solid #CCC; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 16px;
  line-height: 15px;
  min-width: 16px;
  margin-right: 5px;
  border-radius: 20%;
}
input[type=checkbox]:checked+label::before, input[type=radio]:checked+label::before{
  font-family: fontAwesome;
	display: inline-block;
	content: '\f00c';
	background-color: rgb(91, 109, 139);
}
input[type=checkbox], input[type=radio]{
	opacity: 0;
	position: absolute;
	z-index: 12;
	width: 18px;
	height: 18px;
}

.font-normal{
  font-weight: 700;
  font-style: normal;
}

.nav-item{
  margin: 0 15px;
  width: 150px;
}

.nav-item > .disabled{
  cursor: not-allowed;
}
.nav-item i{
  margin-right: 10px;
}


.nav-item.active span{
  font-weight: 700;
  font-style: normal;
}

.dropdown-menu{
  background-color:#49c5f3;
  color:#fff;
  margin:0;
}
.dropdown-item:hover{
  background-color:#6ed1f5;
  color:#fff;
}
.dropdown-item{
  color:#fff;
  font-weight: 100;
  font-size: 14px;
}

.navbar-inverse .navbar-nav .nav-link{
  color:rgba(255, 255, 255, 0.9);
}

.card{
  background: rgba(29, 42, 51, 1.0);
  border: 0px;
}

.list-heading{
  font-size: 13px !important;
}

.desc{
  font-size: 14px !important;
}

body{
  overflow-x: hidden;   
}


/*for all scroll bars*/
::-webkit-scrollbar {
  width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
  background: #2c3844; 
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
  background: #555e67; 
  border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: #555e67; 
 }
 
 /*for all scroll bars */
