<div class="notification-details-box card-body" *ngIf="recordDetailData">
    <div class="inside-notif-container">
       <div class="notification-details-header row">
          <div class="title col-sm-6">
             <p>Notification Detail</p>
          </div>
          <div class="col-sm-5">
          </div>
          <div class="filters col-sm-1">
             <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
       </div>
       <span class="newLine"></span>
       <div class="notif-metadata">
          <app-notification-metadata [metadata]="recordDetailData.metadata"></app-notification-metadata>
       </div>
       <div class="notification-expalanation">
          <p class="explain">
             {{recordDetailData.configurations.desc}}
          </p>
          <span>
             <table style="font-size: 14px;">
                <tbody>
                   <tr class="row" *ngFor="let config of recordDetailData['configurations']['properties']">
                      <td class="col-sm-5">
                         {{config.key}}
                      </td>
                      <td class="col-sm-4 config-value">
                         {{config.value}}
                      </td>
                   </tr>
                </tbody>
             </table>
          </span>
       </div>
       <div class="details-data-table-container">
           <app-kpmg-grid [data]="recordDetailData.tableData"></app-kpmg-grid>
       </div>
    </div>
 </div>