.title{
    font-size:20px;
    font-weight:600;
}

.newLine{
    background-color: #3d485a;
    height: 1.09px;
    display: block;
}

.inside-notif-container{
    padding: 2%;
}

.notification-details-header{
    padding-left: 4%;
}

.notification-details-box{
    border-radius: 5px;
    padding: 1%;
    background-color:#2d3944;
    color:#d3d6d8
}
.notification-expalanation{
    font-size: 14px;
    margin-left: 3%;margin-top: 3%;
}

.explain{
    /* padding-left: 2%; */
    margin: 0 0 10px 0;
}

.details-data-table-container{
    padding: 0;
    margin-top: 4%;
}

.config-value{
    font-weight: 600;
    color: #fff;
}

.notif-metadata{
    padding-left: 3%;
    margin-top: 1%;   
}