<div class="notifications-unread card incoming-shipments" *ngIf="incoming_shipments">
    <div class="notif-list-container container card-body">
      <div class="title">
        <label> Incoming Shipments </label>
      </div>
      <div class="shipment-table">
        <app-kpmg-grid [data]="incoming_shipments" [showDetail]="true">

        </app-kpmg-grid>
      </div>
    </div>
</div>
