<ul class="transaction_list">
    <li *ngFor="let info of currentTransactions" style="cursor:pointer" (click)="getOrderDetails(info.number)">
    <p class="heading" style="margin-bottom: 0px;">
        <span class="no">{{ info.number }}</span>
        <span class="name">{{ info.train }}</span>
        <!-- <span class="type " [ngClass]="{'completed': info.status.toLowerCase()=='completed', 'halt': info.status.toLowerCase()=='halt', 'ongoing': info.status.toLowerCase()=='on going'}"> 
            <i class="fa " [ngClass]="{'fa-check': info.status.toLowerCase()=='completed', 'fa-exclamation-triangle': info.status.toLowerCase()=='halt', 'fa-arrow-up': info.status.toLowerCase()=='on going'}" aria-hidden="true"></i>
            {{ info.status }}&nbsp;
        </span> -->
        <span style="float: right;">
            <span *ngIf="info.status" title="{{info.status}}" style="font-size: 17px;">
                <i class="fa " [ngClass]="{'fa-check': info.status.toLowerCase()=='completed', 'fa-exclamation-triangle': info.status.toLowerCase()=='halt', 'fa-arrow-up': info.status.toLowerCase()=='on going'}" aria-hidden="true"></i>
                <!-- {{ getStatus(info.status) }} -->
                <!-- {{ info.status }} -->
            </span>
            <span class="angle_right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
        </span>
    </p>
    <div class="details" style="padding: 8px;">
        <p>
            <span class="grade" style="font-size: 12px;">(Curr. Grade: A2)</span>
            <span class="grade" style="font-size: 12px;">(Req. Grade:{{ info.reqGrade }})</span>
        </p>
        <div class="row" style="margin: 0px;">
            <div class="col-sm-4">
                    <span class="status">
                            Curr. Weight : {{ info.currweight }}
                        </span>
            </div>
            <div class="col-sm-4">
                    <span class="status">
                            Current Station : {{ info.currStn }}
                        </span>
            </div>
            <div class="col-sm-4">
                    <span class="status">
                            Destination : {{ info.destStn }}
                        </span>
            </div>
        </div>
    </div>
    </li>
</ul>
