.main_cont{
    background-color: #1a2a34;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}
.main_cont h3{
    color: #ebecee;
    font-size: 36px;
    padding: 20px 0;
}
.main_cont h5{
    color: #ebecee;
    font-size: 24px;
    padding: 0;
    margin: 0 0 20px;
}
.transt_block{
    border: 4px solid #000000;
    border-radius: 10px;
    padding: 20px;
}
.transaction_list{
    padding: 0;
    list-style: none;
}
.transaction_list li{
    cursor: pointer;
    background-color: #3f8aa6 !important;
    /* padding: 2px 8px; */
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    /* -moz-box-shadow: 2px 3px 2px grey;
    -webkit-box-shadow: 2px 3px 2px grey;
    box-shadow: 2px 3px 2px grey; */
}
.transaction_list li .angle_right{
    /* position: absolute;
    top: 50%;
    right: 15px; */
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}
.transaction_list li p.heading{
    color: #333;
    text-align: justify;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 5px;
    padding: 5px;
    background: #cad3da;

}
.transaction_list li p.heading span.name{
    padding-left: 1%;
    padding-right: 0%;
}

.transaction_list li p.heading span.grade{
    font-size:14px;
}
.transaction_list li p.heading span.type{
    font-size: 15px;
    min-width: 200px;
    border: 2px solid #717171;
    border-radius: 20px;
}
.transaction_list li p.heading span.type.halt{
    background: #ffb140;
    padding: 3px 26px;
    font-style: italic;
}
.transaction_list li p.heading span.type.ongoing{
    background: #73dc6e;
    padding: 4px 13px;
    font-style: italic;
}
.transaction_list li p.heading span.type.completed{
    background: #7a7a7a;
    padding: 3px 3px;
    font-style: italic;
}
.transaction_list li .details .cellColor{
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    margin-top: 3px;
}
.transaction_list li .details .cellColor.completed{
    background-color: #42a344;
}
.transaction_list li .details .cellColor.hold{
    background-color: #fc0000;
    margin: 0px 0px 5px 0px;
}
.transaction_list li .details .inner{
    width: 100%;
    text-align: left;
    margin-left: 4px;
    padding-left: 19px;
}

.transaction_list li .details .inner{
    color:black;
    font-weight: 600;
    max-height: 33px;
}
.transaction_list li .details .inner .capacity{
    font-size: 15px;
    vertical-align: top;
}
.transaction_list li .details .inner .status{
    padding-left: 4%;
    font-size: 15px;
    vertical-align: top;
}

.transaction_list li .details .inner .last_updated{
    padding-left: 4%;
    font-size: 15px;
    vertical-align: top;
}
.details .row .col-sm-4{
    padding: 0px;
}
