<div class="notification-metadata" *ngIf="metadata">
      <div class="row">
        <span class="col-sm-1">
            <span class="status" title={{metadata.status}}><i class="fa {{getNotificationStatus(metadata.status)}}" aria-hidden="true"></i></span>
        </span>
        <span class="col-sm-7">
            <span class="desc">{{metadata.notification_desc}}</span>
        </span>
        <span class="col-sm-2">
            <span class="date">{{metadata.date}}</span>
        </span>
        <span class="col-sm-2" *ngIf="metadata.action">
            <button class="btn go_to_detail_btn">
                <i class="fa fa-angle-right" aria-hidden="true" (click)="recordDetails(metadata.id)"></i>
            </button>
        </span>
      </div>
</div>
