.red{
    color:#ff0000;
}

.yellow{
    color:#f0ff00;
}

.green{
    color:#dcd828;
}

.desc{
    font-size:12px;
}
.date{
    font-size:12px;
}
.go_to_detail_btn{
    font-size:12px;
    background-color:#387995;
    color:#eaeff1;
    float:right;
}
