<div class="container detail-data-table" *ngIf="data" style="width: 100%;">
  <div class="search-box row" *ngIf="search" style="margin-bottom: 4%;">
      <div class="col-sm-2">
          <label>Search by...</label> 
          <select style="font-size: 11px;border: 1px solid #fff;width: 100%;height: 31px;" class="form-control" (change)="selectedSearchOption($event)">
            <option *ngFor="let option of searchByColumnsDropdownItems">
              {{option}}
            </option>
          </select>
      </div>
      <div class="col-sm-3">
          <input type="text" style="font-size: 11px;height: 60%; margin-top: 9%;" [(ngModel)]="searchText" class="form-control" placeholder="please enter {{selectedColumn}}"/> 
          <svg class="search-box-magnifier" width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><path d="M10.308 7.077c0-.89-.316-1.65-.949-2.283a3.111 3.111 0 0 0-2.282-.948c-.89 0-1.65.316-2.283.948a3.111 3.111 0 0 0-.948 2.283c0 .89.316 1.65.948 2.282a3.111 3.111 0 0 0 2.283.949c.89 0 1.65-.316 2.282-.949a3.111 3.111 0 0 0 .949-2.282zm3.692 6c0 .25-.091.466-.274.649a.887.887 0 0 1-.65.274.857.857 0 0 1-.648-.274L9.954 11.26c-.86.596-1.82.894-2.877.894a4.989 4.989 0 0 1-1.972-.4 5.076 5.076 0 0 1-1.623-1.082A5.076 5.076 0 0 1 2.4 9.049 4.989 4.989 0 0 1 2 7.077c0-.688.133-1.345.4-1.972a5.076 5.076 0 0 1 1.082-1.623A5.076 5.076 0 0 1 5.105 2.4 4.989 4.989 0 0 1 7.077 2c.687 0 1.345.133 1.972.4a5.076 5.076 0 0 1 1.623 1.082c.454.454.815.995 1.082 1.623.266.627.4 1.284.4 1.972a4.938 4.938 0 0 1-.894 2.877l2.473 2.474a.883.883 0 0 1 .267.649z" style="fill: currentcolor;"></path></svg>
      </div>
  </div>
   <table style="font-size: 12px;
   font-weight: 600;" class="table">
      <thead class="theadProp" style="background-color: transparent!important;">
        <th class="list-heading" *ngFor="let column of data.headerContent" >
          {{column.label}}
        </th>
        <th></th>
      </thead>
      <tbody class="tbodyProp">
        <ng-container *ngFor="let row of data.bodyContent|searchFilter:searchText;let i = index">
          <tr>
            <td *ngFor="let column of data.headerContent" [ngClass]="getTextColor(row[column.key])">
              {{row[column.key]}}
            </td>
            <td *ngIf="popup">
              <span>
                <button *ngIf="popup" class="btn go_to_detail_btn" (click)="openPopupDetails(row, i)">
                  <i class="fa fa-expand"></i>
                </button>
              </span>
            </td>
            <td *ngIf="expand || showDetail">
              <span>
                <button *ngIf="expand" class="btn go_to_detail_btn" (click)="toggleRowExpansion(i)">
                  <i class="fa fa-angle-down" aria-hidden="true" [hidden]="row.expand"></i>
                  <i class="fa fa-angle-up" aria-hidden="true" [hidden]="!row.expand"></i>
                </button>
              </span>
              <span *ngIf="showDetail">
                <button class="btn go_to_detail_btn">
                    <i class="fa fa-angle-right" aria-hidden="true" (click)="recordDetails(row.id)"></i>
                </button>
              </span>
            </td>
          </tr>
          <tr [hidden]="!row.expand" *ngFor="let subrow of row.subRows">
              <td [ngClass]="getTextColor(subrow[column.key])" *ngFor="let column of data.headerContent">
                  {{subrow[column.key]}}
              </td>
              <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
