.list-heading{
    color:#6a788b;
    font-size:10PX;
    font-weight:500;
  }
  .shipped{
    color:#bfc3c6
  }
  
  .failed{
   color:#cd0c0e;
  }
  
  .recieved{
   color:#c3c02b
  }
  
  .go_to_detail_btn{
    font-size:12px;
    background-color:#387995;
    color:#eaeff1;
    float:right;
  }
  
  .tbodyProp{
      color:#8196af
  }

  .rem-border{
      border:none;
  }
  
  .theadProp{
      background-color: #2d3944!important;
  }
  .search-box-magnifier {
    position: absolute;
    top: 2px;
    left: 88%;
    margin-top: 11%;
    color: #999;
    transition: color .3s ease;
}
  
  