<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block;margin-top: 10%;" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content  notif-list-container card-body">
      <div class="modal-header" style="display:block;">
        <b class="modal-title title">
          Publish Shipment
        </b>
      </div>
      <div class="modal-body">
        <div *ngIf="!connectionSelected" class="">
          <span class="row" style="margin-top:1%">
              <select class="form-control" name="selectedConnection" [(ngModel)]="selectedConnection">
                <option>Select connection...</option>
                <option *ngFor="let connection of connectionList">
                  {{connection.label}}
                </option>
              </select>
          </span>
        </div>
        <div *ngIf="connectionSelected && !shipped">
          <p>Your selected connection will write a batch to the blockchain:</p><br>
          <span class="title">{{selectedConnection}}</span><br>
          <p>Continue ? </p>
        </div>
        <div *ngIf="shipped" class="">
            <span class="vf-success">
              <i class="fa fa-check-circle green"></i>
              Shipped Product Batch Published to Blockchain:
            </span>
            <br>
            <span class="product-details">
                <table style="font-size: 14px;">
                    <tbody>
                      <tr class="row" *ngFor="let config of product_properties">
                          <td class="col-sm-5">
                            {{config.key}}
                          </td>
                          <td class="col-sm-4 config-value">
                            {{config.value}}
                          </td>
                      </tr>
                    </tbody>
                </table>
            </span>
        </div>
      </div>  
      <div class="modal-footer">
        <button *ngIf="!shipped" type="button" class="btn btn-default" (click)="cancelAction()" style="cursor:pointer;">
            Cancel
        </button>
        <button *ngIf="shipped" type="button" class="btn verify-button" (click)="ViewRecords()" style="cursor:pointer;">
            View Records
        </button>
        <button type="button" class="btn verify-button" (click)="continueAction()" style="cursor:pointer;">
            Continue
        </button>
      </div>
    </div>
  </div>
</div>
