<div class="container" style="width: 100%;margin-top: 1%;" *ngIf="tableData">
  <br>
  <app-kpmg-grid [data]="tableData" [search]="true" [popup]="true" (emitPopupStatus)="getPopupStatus($event)">
  </app-kpmg-grid>

  <div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
  <div class="modal" tabindex="-1" role="dialog" style="display: block !important;margin-top: 30px;" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-lg" style=" overflow-y: initial !important;">
      <div class="modal-content  notif-list-container card-body">
        <div class="modal-header" style="display:block;">
          <b class="modal-title title">
            Audit Details
          </b>
        </div>
        <div class="modal-body" style="height: 400px;overflow-y:auto"> 
          <div class="row">
            <div class="col-sm-8">
              <label>AUDITOR ID</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['auditorId']" />
            </div>
            <div class="col-sm-8">
              <label>ASH</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['ash']" />
            </div>
            <div class="col-sm-8">
              <label>MOISTURE</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['vm']" />
            </div>
            <div class="col-sm-8">
              <label>VM</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['fc']" />
            </div>
            <div class="col-sm-8">
              <label>FC</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['gcv']" />
            </div>
            <div class="col-sm-8">
              <label>GCV</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['grade']" />
            </div>
            <div class="col-sm-8">
              <label>GRADE</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['status']" />
            </div>
            <div class="col-sm-8">
              <label>STATUS</label>
              <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="auditDetails['product_handler']" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closePopup()" style="cursor:pointer;">
            Close
          </button>
          <button type="button" class="btn verify-button" (click)="saveAudit()" style="cursor:pointer;">
            Audit
          </button>
        </div>
      </div>
    </div>
  </div>

</div>