.verify-button{
    background-color: #7ed320;
    color:#f4f7f8;
    /* width: 83%; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#f4f7f8;
    opacity: 1; /* Firefox */
}

.green{
    color:#dcd828;
}

.title{
    font-size:20px;
    font-weight:600;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop .fade .in {
opacity: 0.5 !important;
}
.modal-backdrop.fade {
opacity: 0.5 !important;
}

.notif-list-container{
    border-radius: 6px;
    padding: 10px;
    height: 100%;
    background-color:#2d3944;
    color:#d3d6d8;
}
.modal-body label{
    font-weight: bolder;
}
.modal-body .col-sm-8{
    padding-bottom: 5px;
}

.config-value{
    font-weight: 600;
    color: #fff;
}

.vf-success{
    color:#fff;
    font-weight:600;
    font-size:13px;
}