<div class="card">
        <div class="chart-container">
            <chart style="width: 98%" [options]="chartOptions" (load)="getChartInstance($event.context)" ></chart>
        </div> 
</div>
<!-- (load)="saveInstance($event.context)" -->