<div class="verify-product-cntainer notifications-unread  card">
    <div class="notif-list-container container card-body">
        <div class="heading row">
            <div class="title col-sm-6">
              <p>Verify product</p>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="filters col-sm-1">
               <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
         </div>
    
        <div class="verify-body row">
            <span class="col-sm-3" style="padding-right: 0;">
                <input type="text" class="form-control verify-col" placeholder="GTIN/SN"/>
            </span>
            <span class="col-sm-3" style="padding-right: 0;">
                <input type="text" class="form-control verify-col" placeholder="Exp Date"/>
            </span>
            <span class="col-sm-3" style="padding-right: 0;">
                <input type="text" class="form-control verify-col" placeholder="Lot#"/>
            </span>
            <span class="col-sm-3" style="padding-right: 0;">
                <button class="btn verify-btn verify-col">Verify</button>
            </span>
        </div>
   </div>  
</div>