<app-nav-header-bar></app-nav-header-bar>
<div class="container-fluid" style="padding: 50px 10px 15px 10px;">
    <div class="loading-overlay" *ngIf="loading">
        <md-progress-bar mode="indeterminate" ></md-progress-bar>
    </div> 
    <div class="row" style="margin: 0px;">
        <main class="col-sm-12" style="min-height:515px;padding: 0px">  
            <section style="margin-top: 15px;">
                <router-outlet></router-outlet>
            </section>    
        </main>
    </div>    
</div>  

