.load-cell-btn{
    background-color: #826c6c;
    color:#ffff;
    font-size:15px;
    width: 100%;
}
.fa-angle-right{
    float: right;
}

.metadata{
    font-size: 14px;
    font-weight: 600;
    /* border: 1px solid #7e6f6f; */
}
.tiled{
    background: #a6b4b7;
    padding: 5px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
.tile-label{
    margin-bottom: 3px;
    color: #918383;
}
.tile-value{
    font-size: 16px;
    font-weight: 600;
    /* display: block; */
    /* font-size: 13px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.center{
    /* text-align: center !important; */
}
.no-padding{
    padding: 0px;
}
.tile-label i.fa{
    padding-right: 5px;
}
.row .metadata .col-sm-3{
    padding: 5px;
}
