<div class="row" style="margin: 0px;">
  <div class="col-sm-12 row metadata" style="padding: 0px;margin: 0px;">
    <div class="col-sm-4 no-padding center">
      <label class="tile-label">
        <i class="fa fa-map-marker"></i>&nbsp;To: </label>
      <!-- <br> --> 
      <span class="tile-value">{{metaData.destination.station_name}}</span>
    </div>
    <div class="col-sm-4 no-padding center">
      <!-- <div class="tiled"> -->
      <label class="tile-label">
        <i class="fa fa-star"></i>&nbsp;Req. Grade: </label>
      <!-- <br> -->
      <span class="tile-value">{{metaData.requiredGrade}}</span>
      <!-- </div> -->
    </div>
    <div class="col-sm-4 no-padding center">
      <!-- <div class="tiled"> -->
      <label class="tile-label">
        <i class="fa fa-history"></i>&nbsp;Auditor: </label>
      <!-- <br> -->
      <span class="tile-value">{{metaData.auditor}}</span>
      <!-- </div> -->
    </div>
    <div class="col-sm-3 no-padding center">
      <!-- <div class="tiled"> -->
      <label class="tile-label">
        <i class="fa fa-user"></i>&nbsp;Miner: </label>
      <!-- <br> -->
      <span class="tile-value">{{metaData.miner}}</span>
      <!-- </div> -->
    </div>
    <div class="col-sm-3 no-padding center">
      <!-- <div class="tiled"> -->
      <label class="tile-label">
        <i class="fa fa-balance-scale"></i>&nbsp;Req. Weight: </label>
      <!-- <br> -->
      <span class="tile-value">{{metaData.requiredWeight}}</span>
      <!-- </div> -->
    </div>
    <div class="col-sm-6 no-padding center" style="padding: 5px;">
        <!-- <div class="tiled"> -->
        <label class="tile-label">
          <i class="fa fa-clock-o"></i>&nbsp;Last Updated: </label>
        <!-- <br> -->
        <span class="tile-value">{{mapData[0]['timestamp']}}</span>
        <!-- </div> -->
      </div>
  </div>
  <div class="col-sm-12 train-live-tracking" style="padding: 6px;">
    <app-leaflet-map [myMapData]="mapData" [destination]="metaData.destination"></app-leaflet-map>
  </div>
  <!-- <div class="col-sm-12 load-cell-value" style="padding: 0px 6px;">
    <button class="btn btn-default load-cell-btn" (click)="navigateToTransactions()">
      Mewar Junction (MWR) Load-Cell:84 ton
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div> -->
  <!-- <div class="col-sm-12 load-cell-chart">
      <line-chart-basic></line-chart-basic> 
  </div> -->
</div>
