<div class="notifications-unread card" *ngIf="prodData && production_dropdowns">
    <div class="notif-list-container container card-body">
        <div style="padding: 0% 0% 1% 0%;">
            <div class="heading row">
                <div class="title col-sm-6">
                    <p>Product Distribution</p>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="filters col-sm-1">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="list">
                <span class="row list-heading">
                <span class="col-sm-6">Product Performance at Distributor ABC</span>
                <span class="col-sm-6">
                    <div class="row">
                        <div class="comparison-box bg-thgreen"></div>
                        <span class="text_color_wt">Ordered</span>
                        
                        <div class="comparison-box bg-blue"></div>
                        <span class="text_color_wt">Possession</span>
                        
                        <div class="comparison-box_overdue_1 bg-overdue-1"></div><div class="comparison-box_overdue_2 bg-overdue-2"></div>
                        <span class="text_color_wt">Overdue</span>
                    </div>
                </span>
                </span>
            </div>
            <div class="draw-list">
                <div style="margin-top:10px;" class="notification-metadata" >
                    <div class="dropdown">
                        <select placeholder="search by.." class="form-control select-box-options" style="width: 22%;
                        float: left;">
                            <option>All Products</option>
                            <option *ngFor="let product of production_dropdowns.products">
                                {{product.label}}
                            </option>
                        </select>
                    </div>
                    <div class="prod-distri">
                        <stacked-bar-chart-basic [chartInfo]="milestoneStackedChart" ></stacked-bar-chart-basic>
                    </div>
                </div>
                <div class="notification-metadata" >
                    <div class="row">
                        <div class="dropdown dropdown_pad">
                           <select placeholder="search by.." class="form-control select-box-options">
                                <option>All Products</option>
                                <option *ngFor="let product of production_dropdowns.products">
                                    {{product.label}}
                                </option>
                            </select>
                        </div>
                        <div class="dropdown dropdown_pad" *ngIf="userType=='manufacturer'">
                            <select placeholder="search by.." class="form-control select-box-options">
                                <option>All Types</option>
                                <option *ngFor="let type of production_dropdowns.types">
                                    {{type.label}}
                                </option>
                            </select>
                        </div>
                        <div class="dropdown dropdown_pad">
                            <select placeholder="search by.." class="form-control select-box-options">
                                <option>All Batches</option>
                                <option *ngFor="let batch of production_dropdowns.batches">
                                    {{batch.label}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="prod-distri">
                      <stacked-bar-chart-basic [chartInfo]="milestoneStackedChart" ></stacked-bar-chart-basic>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>