.serach_filter_list{
    display: block;
    width: 100%;
    padding: 0;
}
.serach_filter_list li{
    display: inline-block;
    width: 18%;
    background-color: #A5A5A5;
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
    position: relative;
    border-radius: 4px;
}
.serach_filter_list li h4{
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5px;

}
.serach_filter_list li p{
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.serach_filter_list li .btn_delete{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.equal_height{
    height: 32px;
    
}
.equal_height input{
    font-size: 13px;
}
.equal_height label{
    padding-top: 3px;
    text-align: right;
}


/* List Tab */
.notifications-unread{
    height: auto;
}
.notifications-read{
    margin-top: 4%;
    height: auto;
}
.notif-container{
    margin-top: 2%;
}
.notification-expalanation{

}

/* Card */
.title{
    font-size:20px;
    font-weight:600;
}

.list-heading{
    color:#6a788b;
    font-size:12PX
}

.highlight-record{
    background-color:#31586d
}

.record{
    cursor:pointer;
    padding-top: 2%;
}

.newLine{
    background-color: #3d485a;
    height: 1.09px;
    display: block;
}

.notif-list-container{
    padding-top: 3%;
    padding-bottom: 0%;
    padding-right: 2%; 
    border-radius: 6px;
    padding-left: 4%;
    height: 100%;
    background-color:#2d3944;
    color:#d3d6d8;
}

/* Merck Box COlor */
.bg-thgreen {
    background-color:#00867B;
}
.bg-blue {
    background-color:#175E99;
}
.bg-green {
    background-color:#2E9452; 
}
.notification-metadata{
    padding: 1% 0% 1% 0%;
}

.bg-overdue{
    background-color:#de7f02; 
}

.bg-overdue-1{
    background-color:#de7f02; 
}

.bg-overdue-2{
    background-color:#d23714; 
}
.container_graph_merck {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 11px;
    margin-right: 5px;
    border: none;
    background-color:#00867B;
}
.container_graph_distributor {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 11px;
    margin-right: 5px;
    border: none;
    background-color:#175E99;
}
.container_graph_dispencer {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 11px;
    margin-right: 5px;
    border: none;
    background-color:#2E9452; 
}
.text_color_wt{
    color: #BDBFC0;
}
.draw-list .position {
    padding: 4% 4% 4% 4%
}

/* DropDown */
.dd_custom{
    background-color: #2A3642;
    color: #E9EEF3;
    border-color: #798088;
}
.dropdown_pad {
    padding-left: 15px;
}
.dropdown ul {
    background-color: #1D2A33;
    border-color: #9ba2aa;
    padding: 5px 5px 5px 5px;
    color: #fafafa;
    margin-left: 15px;
}
.dropdown .ul_over {
    margin-left: 0px !important;
}
.dropdown ul li a:hover {
    color: #9aa3ad;
    text-decoration: none;
}
.dropdown ul li a {
    color: #d8dde2;
    text-decoration: none;
}
/* Dropdown */

.comparison-box {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 11px;
    margin-right: 5px;
    border: none;
}

.comparison-box_overdue_1{
    width: 7px;
    height: 15px;
    margin-top: 2px;
    margin-left: 11px;
    border: none;
}

.comparison-box_overdue_2{
    width: 7px;
    height: 15px;
    margin-top: 2px;
    margin-right: 5px;
    border: none;
}

/* Chart Board */
.desc{
    font-size:12px;
}
.date{
    font-size:12px;
}
.go_to_detail_btn{
    font-size:12px;
    background-color:#387995;
    color:#eaeff1;
    float:right;
}

.prod-distri{
    margin-top: 2%;
}

.select-box-options{
    font-size: 13px;
    border: 1px solid #878e96;
    width: 100%;
    background-color: #2A3642;
    color:#dde8ed;
    float: right;
}