<div class="all-verifications notifications-unread card " *ngIf="verification_data">
  <div class="notif-list-container container card-body" style="margin: 0;    width: 100%;">
    <div class="row">
      <span class="title col-sm-6">
        <label> All Verifications ({{verification_data.bodyContent.length}})</label>
      </span>
      <span class="col-sm-3">

      </span>
      <span class="col-sm-2">
        <button class="btn verify-button"> Verify Product </button>
      </span>
      <span class="filters col-sm-1">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </span>
    </div>
    <br>
    <span>
      <label class="sub-title">Overall complete status </label>
    </span>

    <div class="verification-table">
      <app-kpmg-grid [data]="verification_data" [expand]="true"></app-kpmg-grid>
    </div>
  </div>
</div>
