.navbar-nav{
    padding-top: 3px;
    display: flex;
}
.admin_logo{
    height: 30px;
    border-radius: 50%;
}
.user_name span{
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    font-weight: 700;
    line-height: 1.5;
} 

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

