<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="header_nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" (click)="moveToLandingPage()" style="cursor:pointer;padding-top: 8px;">
      <!-- <img  class="header_logo" src="assets/images/kpmg.svg"> -->
      <span style="font-size:21px;font-weight:1000;"> BUFO </span>
  </a>
  <div>
    <span class="font-normal">
        BLACKHANS - DIGITAL SUPPLY BLOCKCHAIN
    </span>
  </div>
  <div class="float-right">
    <ul class="navbar-nav" style="padding-left: 20%;">
      <li class="nav-item" [ngClass] = "isActive('dashboard')">
        <a href="javascript:void(0);" (click) = "navigateDashboard()" class=""  aria-expanded="false">
          <i class="fa fa-inbox" aria-hidden="true"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown" [ngClass]="isActive('actions')" style="display:flex; width:125px;">
        <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span>Actions</span>
        </a>
        <div class="dropdown-menu"  style="left: -67px !important;cursor:pointer;">
          <a class="dropdown-item" (click) = "navigateActions('acknowledge-consignment')" *ngIf="showmenu('Acknowledge Consignment')">Acknowledge Consignment</a>
          <a class="dropdown-item" (click) = "navigateActions('dispatch-consignment')" *ngIf="showmenu('Dispatch Consignment')">Dispatch Consignment</a>
          <a class="dropdown-item" (click) = "navigateActions('ship-consignment')" *ngIf="showmenu('Ship Consignment')">Ship Consignment</a>
          <a class="dropdown-item" (click) = "navigateActions('validate-consignment')" *ngIf="showmenu('Validate consignment')">Validate consignment</a>
          <a class="dropdown-item" (click) = "navigateActions('receive-consignment')" *ngIf="showmenu('Receive Consignment')">Receive Consignment</a>
          <a class="dropdown-item" (click) = "navigateActions('create-consignment')" *ngIf="showmenu('Create Consignment')">Create Consignment</a>
        </div>
      </li>
      <li class="nav-item" style="display:flex; width:155px;">
        <a  (click) = "navigateNotifiactions()" [ngClass] ="showNotifications()" class="nav-link">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <span>Notifications</span>
        </a>
      </li>
      <li class="nav-item"  style="display:flex; width:115px;">
        <a  class="nav-link disabled"   >
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>Admin</span>
        </a>
      </li>
      <li class="nav-item dropdown" style="display:flex; width:150px;">
        <a  style="color:#fff;" class="nav-link dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>{{userName}}</span>
        </a>
        <div class="dropdown-menu"  style="left: -67px !important;cursor:pointer;">
          <a href="javascript:void(0);"  class="dropdown-item" (click)="onLoggedout()">Log Out</a>
        </div>
      </li>
    </ul>  
  </div>
</nav>
