<div style="padding:2rem" *ngIf="unreaddata && readdata && recordDetailData">
<h1>Notifications</h1>
<div class="notif-container  row">
  <div class="col-sm-6">
      <div class="notifications-unread card">
          <notifications [data]="unreaddata" (showDetails)="showDetails($event)" ></notifications>
      </div>
      <div class="notifications-read card">
          <notifications [data]="readdata" (showDetails)="showDetails($event)" ></notifications>
      </div>
  </div>

  <p *ngIf="!showDetailData">Loading....</p>
  <div class="notification-detail col-sm-6 card" *ngIf="showDetailData">
      <app-notification-details [recordDetailData]="recordDetailData"></app-notification-details>
  </div>        
</div>
</div>