<div class="notifications-unread card" *ngIf="current_product_level">
    <div class="notif-list-container container card-body">
        <div style="padding: 0% 0% 1% 0%;">
            <div class="heading row">
                <div class="title col-sm-6">
                    <p>Current Product Levels</p>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="filters col-sm-1">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="list">
                <span class="row list-heading">
                <span class="col-sm-6">Batch Level distribution in channels</span>
                <span class="col-sm-6">
                    <div class="row">
                        <div class="comparison-box bg-thgreen"></div>
                        <span class="text_color_wt">Merck</span>
                        
                        <div class="comparison-box bg-blue"></div>
                        <span class="text_color_wt">Distributor</span>
                        
                        <div class="comparison-box bg-green"></div>
                        <span class="text_color_wt">Dispenser</span>
                    </div>
                </span>
                </span>
            </div>
            <div class="draw-list">
                <div style="margin-top:10px;" class="notification-metadata">
                    <div class="row">
                        <div class="dropdown dropdown_pad">
                            <select placeholder="search by.." class="form-control select-box-options" (change)="changeDistributionData($event)">
                                <option>All Products</option>
                                <option *ngFor="let product of current_product_level.products">
                                    {{product.label}}
                                </option>
                            </select>
                        </div>
                        <div class="dropdown dropdown_pad">
                            <select placeholder="search by.." class="form-control select-box-options" (change)="changeDistributionData($event)">
                                <option>All Types</option>
                                <option *ngFor="let type of current_product_level.types">
                                    {{type.label}}
                                </option>
                            </select>
                        </div>
                        <div class="dropdown dropdown_pad">
                           <select placeholder="search by.." class="form-control select-box-options" (change)="changeDistributionData($event)">
                                <option>All Batches</option>
                                <option *ngFor="let batch of current_product_level.batches">
                                    {{batch.label}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="show-map">
                        <app-tree-map-basic [treeMapInfo]="current_product_chart" (coreDetails)="changeDistributionData($event)"></app-tree-map-basic>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>