<div id="dashboard">
    <div class="row">
        <div class="col-md-6">
            <h3 style="margin-bottom: 0;padding-bottom: 0;color:#d3d6d8;">{{dashboardTitle}} Dashboard</h3>
        </div>
        <div class="col-md-6"  *ngIf="userType!=='auditor'">
            <div class="search-box row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <select placeholder="search by.." class="form-control select-box-options" (change)="navigateToRoute('pro','product')">
                        <option>search by..</option>
                        <option>Orders</option>
                        <option *ngFor="let option of searchByColumnsDropdownItems">
                        {{option}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" style="font-size: 14px;height: 37px;border: 1px solid #fff" [(ngModel)]="searchText" class="form-control" placeholder="please enter {{selectedColumn}}"/> 
                    <svg class="search-box-magnifier" width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><path d="M10.308 7.077c0-.89-.316-1.65-.949-2.283a3.111 3.111 0 0 0-2.282-.948c-.89 0-1.65.316-2.283.948a3.111 3.111 0 0 0-.948 2.283c0 .89.316 1.65.948 2.282a3.111 3.111 0 0 0 2.283.949c.89 0 1.65-.316 2.282-.949a3.111 3.111 0 0 0 .949-2.282zm3.692 6c0 .25-.091.466-.274.649a.887.887 0 0 1-.65.274.857.857 0 0 1-.648-.274L9.954 11.26c-.86.596-1.82.894-2.877.894a4.989 4.989 0 0 1-1.972-.4 5.076 5.076 0 0 1-1.623-1.082A5.076 5.076 0 0 1 2.4 9.049 4.989 4.989 0 0 1 2 7.077c0-.688.133-1.345.4-1.972a5.076 5.076 0 0 1 1.082-1.623A5.076 5.076 0 0 1 5.105 2.4 4.989 4.989 0 0 1 7.077 2c.687 0 1.345.133 1.972.4a5.076 5.076 0 0 1 1.623 1.082c.454.454.815.995 1.082 1.623.266.627.4 1.284.4 1.972a4.938 4.938 0 0 1-.894 2.877l2.473 2.474a.883.883 0 0 1 .267.649z" style="fill: currentcolor;"></path></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="orders-container row" *ngIf="userType !== 'auditor'">
        <div class="tiles-block col-xs-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-3" *ngFor="let tile of dashboardBlocks; let i=index">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                            <i class="fa {{ tile.icon }}" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text" title="{{tile.label}}">{{ tile.label }}</span>
                            <span class="info-box-number" title="{{tile.value}}">{{ tile.value }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orders-container row" *ngIf="userType !== 'auditor' && current_transactions && current_transactions['transactions']">
        <div class="transt_block col-xs-12 col-md-5 col-sm-5">
            <span style="font-size: 21px;font-weight:600">Current Transactions</span>
            <app-order-summary  [currentTransactions]="current_transactions['transactions']" (getOrderDetailsEvent)="getOrderDetails($event)"></app-order-summary>
        </div>
        <div class="transt_block col-xs-12 col-md-7 col-sm-7" *ngIf="transaction_details && transaction_details['location_list'] && transaction_details.metaData && chartComplete">
            <div (click)="navigateToTransactions()">
                <span style="font-size: 21px;font-weight:600">{{currentId}} &nbsp;&nbsp;<small class="under">{{transaction_details.metaData.currentStation}}</small></span>
            </div>
            <app-transaction-visual [metaData]="transaction_details.metaData" [destination]="" [mapData]="transaction_details.location_list"></app-transaction-visual>
        </div>
    </div>
    <div class="row" *ngIf="userType == 'auditor'">
        <div class="col-md-12">
            <app-audit></app-audit>
        </div>
    </div>
    <div class="orders-container chart-asdf row" *ngIf="userType!== 'auditor'" >
        <div class="chartConatiner col-xs-12 col-md-12 col-sm-12" style="padding: 0px;">
            <!-- <line-chart-basic [lineChartAxisData]="lineChartAxisData" [lineChartInfo]="transaction_details.weight_list"></line-chart-basic> -->
            <div id="line-container" class="chart"></div>
        </div>
    </div>
</div>
