.serach_filter_list{
        display: block;
        width: 100%;
        padding: 0;
}
.serach_filter_list li{
        display: inline-block;
        width: 18%;
        background-color: #A5A5A5;
        padding: 5px 10px;
        margin: 5px;
        color: #fff;
        position: relative;
        border-radius: 4px;
}
.serach_filter_list li h4{
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 5px;

}
.serach_filter_list li p{
        font-size: 13px;
        text-align: center;
        margin-bottom: 0;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
}
.serach_filter_list li .btn_delete{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
}
.equal_height{
        height: 32px;
        
}
.equal_height input{
        font-size: 13px;
}
.equal_height label{
        padding-top: 3px;
        text-align: right;
}


/* List Tab */
.notifications-unread{
        height: auto;
}
.notifications-read{
        margin-top: 4%;
        height: auto;
}
.orders-container{
        margin: 15px 0px;
}


.notification-expalanation{

}

.transt_block{
        border: 2px solid #262E35;
        /* padding: 12px; */
        border-radius: 6px;
        /* padding-left: 4%;
        height: 27rem; */
        background-color: #2d3944;
        padding-top: 10px;
        max-height: 460px;
        height: 460px;
        min-height: 460px;
        overflow: auto;
}

/* Card */
.title{
        font-size:20px;
        font-weight:600;
}

.list-heading{
        color:#6a788b;
        font-size:12PX
}

.highlight-record{
        background-color:#31586d
}

.record{
        cursor:pointer;
        padding-top: 2%;
}
    
.newLine{
        background-color: #3d485a;
        height: 1.09px;
        display: block;
}
    
.notif-list-container{
        padding-top: 3%;
        padding-bottom: 0%;
        padding-right: 2%; 
        border-radius: 6px;
        padding-left: 4%;
        height: 100%;
        background-color:#2d3944;
        color:#d3d6d8;
}

/* Merck Box COlor */
.bg-thgreen {
        background-color:#00867B;
}
.bg-blue {
        background-color:#175E99;
}
.bg-green {
        background-color:#2E9452; 
}
.notification-metadata{
        padding: 1% 0% 1% 0%;
}

.bg-overdue{
        background-color:#e71304; 
}
.container_graph_merck {
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 11px;
        margin-right: 5px;
        border: none;
        background-color:#00867B;
}
.container_graph_distributor {
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 11px;
        margin-right: 5px;
        border: none;
        background-color:#175E99;
}
.container_graph_dispencer {
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 11px;
        margin-right: 5px;
        border: none;
        background-color:#2E9452; 
}
.text_color_wt{
        color: #BDBFC0;
}
.verify-product{
        margin-top:2%
}
.draw-list .position {
        padding: 4% 4% 4% 4%
}

/* DropDown */
.dd_custom{
        background-color: #2A3642;
        color: #E9EEF3;
        border-color: #798088;
}
.dropdown_pad {
        padding-left: 15px;
}
.dropdown ul {
        background-color: #1D2A33;
        border-color: #9ba2aa;
        padding: 5px 5px 5px 5px;
        color: #fafafa;
        margin-left: 15px;
}
.dropdown .ul_over {
        margin-left: 0px !important;
}
.dropdown ul li a:hover {
        color: #9aa3ad;
        text-decoration: none;
}
.dropdown ul li a {
        color: #d8dde2;
        text-decoration: none;
}
/* Dropdown */

.comparison-box {
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 11px;
        margin-right: 5px;
        border: none;
}


/* Chart Board */
.desc{
        font-size:12px;
}
.date{
        font-size:12px;
}
.go_to_detail_btn{
        font-size:12px;
        background-color:#387995;
        color:#eaeff1;
        float:right;
}

.search-box-magnifier {
        position: absolute;
    top: 0px;
    right: 25px;
    margin-top: 10px;
    color: #999;
        transition: color .3s ease;
}

.select-box-options{
        font-size: 14px;
        border: 1px solid #fff;
        /* width: 70%; */
        float: right;
        height: 31px;
}

.order-section{
        border: 2px solid lightgray;
        height: 441px;
        border-radius: 7px;
}

/* Tiles */
.info-box {
        display: block;
        min-height: 90px;
        background: #f7f2f2;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .info-box-icon {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 90px;
        background: rgba(0,0,0,0.2);
    }
    .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
        background-color: #49c5f3 !important;
    }
    .info-box-content {
        padding: 5px 10px;
        margin-left: 90px;
        text-align: center
    }
    .info-box-text {
        text-transform: uppercase;
    }
    
    .progress-description, .info-box-text {
        word-break: break-word;
    color: #333;
    word-wrap: break-word;
    font-weight: 600;
    display: block;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .info-box-number {
        display: block;
        font-weight: bolder;
        font-size: 24px;
        margin-top: 10px;
        color: #333;
    }
    .tiles-block {
        padding: 10px 0px 0px 0px;
    }
    
.under{
        cursor: pointer;
        text-decoration: underline;       
}
