<div class="ship-product-container card">
    <div class="notif-list-container container card-body">
      
      <div class="heading row">
        <div class="title col-sm-6">
          <p> Ship product</p>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="filters col-sm-1">
           <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
     </div>

      <div class="ship-body row">
        <span class="col-sm-4" style="padding-right: 0;">
            <input type="text" class="form-control ship-col" placeholder="Enter GTIN"/>
        </span>
        <span class="col-sm-5" style="padding-right: 0;">
          <input type="text" class="form-control ship-col" placeholder="Enter S/N"/>
        </span>
        <span class="col-sm-3" style="padding-right: 0;">
          <button class="btn ship-button ship-col">Ship</button>
        </span>
      </div>
    </div>
</div>
