<div class="all-verifications notifications-unread card " *ngIf="verification_data" style="margin-top: 4%;">
  <div class="notif-list-container container card-body">
    <div class="row">
      <span class="title col-sm-6">
        <label> {{ userType }} Verifications ({{verification_data.bodyContent.length}})</label>
      </span>
      <span class="col-sm-3">

      </span>
      <span class="col-sm-2">
        <button class="btn verify-button" (click)="showVerifyProductModal()"> Verify Product </button>
      </span>
      <span class="filters col-sm-1">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </span>
    </div>
    <br>
    <span>
      <label class="sub-title">Overall complete status </label>
    </span>

    <div class="verification-table">
      <app-kpmg-grid [data]="verification_data" [expand]="true"></app-kpmg-grid>
    </div>
  </div>
</div>

<app-verify-product [showModal]="showModal"></app-verify-product>