<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block;margin-top: 10%;overflow: auto;" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content  notif-list-container card-body">
      <div class="modal-header" style="display:block;">
        <b class="modal-title title">
          Ship Consignment
        </b>
      </div>
      <div class="modal-body">
        <div *ngIf="!verified" class="">
          <span class="row" style="margin-top:1%">
              <input type="text" class="form-control" name="org_id" [(ngModel)]="shipConsignment['orgId']" placeholder="Organisation id"/>
          </span>
          <span class="row" style="margin-top:1%">
              <input type="text" class="form-control" name="consignmentId" [(ngModel)]="shipConsignment['consignmentId']" placeholder="Consignment Id"/>
          </span>
          <span class="row" style="margin-top:1%">
              <span class="col-sm-6" style="padding-left:0">
                  <input type="text" class="form-control" name="weight" [(ngModel)]="shipConsignment['weight']" placeholder="Weight"/>
              </span>
              <span class="col-sm-6" style="padding-right:0"> 
                  <select placeholder="Weight Unit" name="weightUnit" [(ngModel)]="shipConsignment['weightUnit']" class="form-control select-box-options">
                      <option disabled>Select Weight Unit</option>
                      <option>ton</option>
                  </select>
              </span>   
          </span>
          <span class="row" style="margin-top:1%">
            <span class="col-sm-6" style="padding-left:0">
                <input type="text" class="form-control" placeholder="Destination Lattitude"/>
            </span>
            <span class="col-sm-6" style="padding-right:0"> 
                <input type="text" class="form-control" placeholder="Destination Longitude"/>
            </span>   
          </span>
        </div>
        <div *ngIf="verified" class="">
            <span class="vf-success">
              <i class="fa fa-check-circle green"></i>
              Consignment Succesfully Shipped !
            </span>
            <br>
            <!-- <span class="product-details">
                <table style="font-size: 14px;">
                    <tbody>
                      <tr class="row" *ngFor="let config of product_properties">
                          <td class="col-sm-5">
                            {{config.key}}
                          </td>
                          <td class="col-sm-4 config-value">
                            {{config.value}}
                          </td>
                      </tr>
                    </tbody>
                </table>
            </span> -->
        </div>
        <div class="blockchain-ledger" *ngIf="verified">
          <span class="ledger-title">
            <button class="btn go_to_detail_btn" (click)="toggleLedger()">
              <i class="fa fa-angle-up" [hidden]="!showLedger" aria-hidden="true"></i>
              <i class="fa fa-angle-right" [hidden]="showLedger" aria-hidden="true"></i>
            </button> &nbsp;Full blockchain ledger
          </span>
          <div class="row" style="margin-top: 3%;" *ngIf="showLedger">
              <app-kpmg-grid [data]="ledgerData"></app-kpmg-grid>
          </div>
        </div>
      </div>  
      <div class="modal-footer">
        <button *ngIf="!verified" type="button" class="btn btn-default" (click)="cancelAction()" style="cursor:pointer;">
            Cancel
        </button>
        <button *ngIf="!verified" type="button" class="btn verify-button" (click)="verify()" style="cursor:pointer;">
            Ship
        </button>
        <button *ngIf="verified" type="button" class="btn verify-button" (click)="verifyAnotherProduct()" style="cursor:pointer;">
            Ship Another Product
        </button>
        <button *ngIf="verified" type="button" class="btn verify-button" (click)="continueAction()" style="cursor:pointer;">
            Continue
        </button>
      </div>
    </div>
  </div>
</div>
