<div class="notifications-unread card" *ngIf="distributor_performance">
    <div class="notif-list-container container card-body">
        <div>
            <div class="heading row">
                <div class="title col-sm-6">
                    <p>Distributor Performance</p>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="filters col-sm-1">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="list">
                <div class="draw-list">
                    <div class="notification-metadata" >
                        <div class="row">
                            <div class="dropdown dropdown_pad">
                               <select placeholder="search by.." class="form-control select-box-options">
                                    <option>All Products</option>
                                    <option *ngFor="let product of distributor_performance.products">
                                        {{product.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="dropdown dropdown_pad">
                                <select placeholder="search by.." class="form-control select-box-options">
                                    <option>All Types</option>
                                    <option *ngFor="let type of distributor_performance.types">
                                        {{type.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="dropdown dropdown_pad">
                                <select placeholder="search by.." class="form-control select-box-options">
                                    <option>All Batches</option>
                                    <option *ngFor="let batch of distributor_performance.batches">
                                        {{batch.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:2%">
                    <app-kpmg-grid 
                        [data]="distributor_performance"
                        (showDetails)="navigateToRoute($event,'distributorPerformance')" 
                        [showDetail]="true">
                    </app-kpmg-grid>
                </div>
            </div>
        </div>
    </div>
</div>