/* body{
    background-color: transparent!important;
    padding-top: 0!important;
} */

@font-face{
  font-family: "open-sans-regular";
  src: url('../../../assets/fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face{
  font-family: "open-sans-semi-bold";
  src: url('../../../assets/fonts/open-sans/OpenSans-Semibold.ttf');
}
.main_cont{
    /* background: #000 url('../../../assets/images/bg.jpg') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*background: rgba(0, 0, 0, 0) url('../images/bg.jpg') no-repeat center center fixed; */
}
.form_cont {
  background-color: rgb(30, 42, 51);
  position: absolute;
  color:rgba(255, 255, 255, 1.0);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 25%; */
  margin: 0 auto;
  border: 1px solid #ddd;
  /* padding: 20px 30px; */
}
.form_cont img.login_logo{
    margin: 0 auto 20px;
    width: auto;
    height: 60px;
    padding-left: 15%;
} 
.form_cont h4{
    font-family: "open-sans-regular";
    font-size: 24px;
    line-height: 1.5;
}
.form_cont input[type="text"], .form_cont input[type="password"]{
    font-size: 14px;
    font-family: "open-sans-regular";
}
.clearfix{
	clear: both;
}
.btn {
  padding-left: 20px;
  padding-right: 20px;
}
.about_cont h3{
    font-family: "open-sans-semi-bold";
    color: #f1f1f1;
    padding: 10px 0 0;
    
}
hr.border_bottom{
	border-bottom: 2px solid rgba(255,255,255,1);
	width: 200px;
    margin:0 0 20px;
}

.about_cont p{
	text-align: justify;
    color: #f5f5f5;
    font-family: "open-sans-regular";
    font-size: 14px;
}
.text-muted {
    color: #b0bec5 !important;
}

/* new styles */
label.keep-me-signed-in{
    color: rgba(126, 142, 164, 1.0);
    font-family: "Lato", Helvetica, Arial, serif;
}
.login-to-dsb{
    font-size: 20.5px;
}
.login-form{
    background: rgba(255,255,255, 0.06);
    float: right;
    padding: 40px 30px;
    width: 300px;
}
.logo-content{
    float: left;
    background-color: #49c5f3;
    height: 323px;
    width: 300px;
    text-align: center;
    padding-top: 123px;
}
.font-normal{
    font-weight: 700;
    font-style: normal;
}

.std-margin-btm{
    margin-bottom: 1rem;
}

.login-button{
    width: 100%;
    border-radius: 5px;
    background-color: #7ed221;
    color: #fff;
}