<!-- <app-nav-header-bar></app-nav-header-bar> -->


<div class="container-fluid" style="padding-top:5%;">
    <div class="row">
        <main class="col-sm-12" style="min-height:450px;">  
            <div class="form_cont">
                <div class="logo-content">
                    <span style="font-size:21px;font-weight:1000;"> BlackHans </span>
                    <div class="digital-supply-block font-normal">
                            DIGITAL SUPPLY BLOCKCHAIN
                    </div>
                </div>
                <form action="" class="form-horizontal login-form" role="form">
                    <!-- <img src="assets/images/logo5.png" alt="company logo" class="login_logo"> -->
                    <div class="login-to-dsb font-normal std-margin-btm">
                        Login to DSB
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Username</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" [(ngModel)]="model.principal_user" class="form-control" placeholder="Username"  [ngModelOptions]="{standalone: true}" autocomplete="off" required autofocus/>
                        </div>
                    </div>
                    <div class="form-group std-margin-btm">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="password" [(ngModel)]="model.principal_secret" name="password" class="form-control" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="std-margin-btm">
                        <input type="checkbox" id="rememberMe" name="rememberMe" class=""  /> <label class="keep-me-signed-in" for="rememberMe">Keep me signed in</label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" (click)="onLoggedin()" value="Login" class="btn login-button font-normal">
                    </div>
                    <div class="row" style="padding-top: 1rem;" *ngIf="errorMsg">
                        <p style="color:red">{{errorMsg}}</p>
                    </div>   
                    <div class="clearfix"></div>
                </form>

            </div>
        </main>
    </div>    
</div> 

