<div class="container detail-data-table" *ngIf="data">
  <table style="font-size: 14px;" class="table">
    <thead class="theadProp">
      <th class="list-heading" *ngFor="let column of data.headerContent">
        {{column.label}}
      </th>
    </thead>
    <tbody class="tbodyProp">
      <ng-container *ngFor="let row of data.bodyContent;let i = index">
        <tr>
          <td *ngFor="let column of data.headerContent" [ngClass]="getTextColor(row[column.key])">
            {{row[column.key]}}
          </td>
          <td *ngIf="action">
            <button class="btn go_to_detail_btn" >
              <i class="fa fa-angle-down" aria-hidden="true" (click)="toggleRowExpansion(i)"></i>
            </button>
          </td>
        </tr>
        <tr [hidden]="!row.expand">
          <td>hello</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>